/* Mise en page */

@font-face 
{
    font-family: 'jetbrainsmono-regular-webfont';
    src: url('formation/P2/POLICES/jetbrainsmono-regular-webfont.woff') format('woff');
}

body{
	margin:0; 
	padding:0;
}

main{
	display: flex;
}



.conteneur{
	width: 33%;
	background-color: #0EAD39;
	position: relative;
}


.MaPhoto{
	text-align: center;
	margin-top: 20px;

	
}

.photo1{
	width: 60%;
	text-align: center;
	border-radius: 200px;
	box-shadow: 10px 20px 100px 30px black inset;
}

h2{
	background-color: black;
	text-align: center;
	padding: 20px 0px 20px 0px;
	font-size: 1.9em;
	color: #0EAD39;
	text-transform: uppercase;
}


.contact p{
	font-size: 1.2em;
	margin-left: 45px;



}

.apropos p{
	font-size: 1.2em;
    width: 80%;
    margin: auto;
    text-align:justify;
    margin-bottom: 180px;
}

.loisirs {
  
   flex-direction: column;
  

}

.loisirsphoto{
	display: flex;
	width: auto;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 1px black;
	margin-bottom: 20px;
	margin-left: 70px;
	margin-right: 20px;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: nowrap;

}

.Parcours{
    width: 80%;
    margin-left: 90px;
    
    
}
.titre h1{

font-size: 4.8em;
margin-top: 60px;
font-family: '';

}
.titre strong{
    color: #0EAD39;
    margin-right: 20px;
}
.titre span{
    border-bottom:1px solid #0EAD39;
    
}
.titre p{
    font-size: 1.8em;
    margin-top: -75px;
    margin-bottom: 150px;
    
}
.formation{
    display: flex;
    font-size: 30px;
    
}
.formation i{
    font-size: 40px;
    margin-right: 20px;
    color: #0EAD39;
}

h4{
    margin-top: 8px;  
}

.lign{
    width: 90%;
    height: 1px;
    background-color: #0EAD39;   
}
.point{
    display: flex;
    margin-top: 25px;
}
.point i{
    margin-right: 15px;
    height: 13px;
    margin-top: 17px;
    color: #0EAD39;
}
.block1{
    display: flex;
    
}
.formation1{
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.Recommandations{
    display: flex;
    margin: auto;
}

.immersio{
	margin-right: 150px;

}



@media only and screen (max-width: 480px){
    main{
       flex-direction: column;
       
    }
        
    .conteneur{
        width: 100%;

    }
    .photo1{
    	text-align: center;
    	max-width: 40%;
    	max-height:40%;

        
    }
    .Parcours{
    	justify-content: center;
        
        border-top-style: none;
    }
    .contact{
        width: auto;
        justify-content: center;
    }
    .contact h1{
      width: 100%;
      
    }
    .contact p{
        text-align:center;
    }
    
    .Recommandations{
        flex-direction: column;
        text-align: center;
    }
    
    .immersio{
        text-align: center;
        


    }
    .titre h1{
        font-size: 3.2em;
        margin-bottom: 77px;
        text-align: center;
        margin-top: 43px;
    }
    .titre p{
        text-align: center;
    }
    .titre{
        justify-content: center;

    }
    
    .block1{
        margin-bottom: 34px;
        margin-top: -22px;
        flex-direction: column;
    }
    .point{
        justify-content: center;
    }
    
    .formation{
        justify-content: center;
        margin-bottom: -34px;
        margin-top: -20px;
    }
    .apropos p{
        margin-bottom: 25px;
       
    }
    
   
    .formation1{
        margin-top: 13px;
  		justify-content: center;
        text-align: center;
        
    }
  
   

    .loisirs{
        position: relative;
       flex-direction: column;
        background-color: #0EAD39;
        }

    
    
    
    

   
    
   



























