/* Mise en page */

@font-face 
{
    font-family: 'Hind';
    src: url('formation/P2/POLICES/Hind/Hind-Regular.otf') format('otf');
}

body{
	margin:0; 
	padding:0;
}

main{
	display: flex;
}

/* Conteneur */

.conteneur{
	width: 33%;
	background-color: #0EAD39;
	position: relative;
}


.MaPhoto{
	text-align: center;
	margin-top: 20px;
	
}

.photo1{
	width: 40%;
	text-align: center;
	border-radius: 50%;
	box-shadow: 100% 60% 50 black;
}

h2{
	background-color: black;
	text-align: center;
	padding: 20px 0px 20px 0px;
	font-size: 1.9em;
	color: #0EAD39;
	text-transform: uppercase;
}


.contact p{
	font-size: 1.2em;
	margin-bottom: -3px;
	padding-left: 10px;
}

.apropos p{
	font-size: 1.2em;
    width: 80%;
    margin: auto;
    text-align:justify;
    margin-bottom: 200px;
}

.loisirs{
    width: auto;
    margin: auto;

}

.loisirsphoto{
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 2px black;
}

.Parcours{
    width: 80%;
    margin-left: 90px;
    margin-right: auto;
    
}
.titre h1{

font-size: 4.8em;
margin-top: 60px;
font-family: 'restaurant_menu_hollowregular';

}
.titre strong{
    color: #0EAD39;
    margin-right: 20px;
}
.titre span{
    border-bottom:1px solid #0EAD39;
    
}
.titre p{
    font-size: 1.8em;
    margin-top: -75px;
    margin-bottom: 150px;
    
}
.formation{
    display: flex;
    font-size: 30px;
    
}
.formation i{
    font-size: 40px;
    margin-right: 20px;
    color: #0EAD39;
}

h4{
    margin-top: 8px;  
}

.lign{
    width: 80%;
    height: 1px;
    background-color: #0EAD39;
    margin: auto;
    margin-top: -27px;
    margin-left: -4px;   
}
.point{
    display: flex;
    margin-top: 25px;
}
.point i{
    margin-right: 15px;
    height: 13px;
    margin-top: 17px;
    color: #0EAD39;
}
.block1{
    display: flex;
    
}
.formation1{
    margin-left: 30%;
    margin-top: 20px;
}
.Recommandations{
    display: flex;
    margin: auto;
}

.immersio{
	margin-right: 150px;

}

.points i{
    color: #0EAD39;
    margin-right: 15px;
    height: 13px;
    margin-top: 17px;
}

.points{
    display: flex;
    
}
.block3{
    display: flex;
}
.formation2{
   margin-left:30% ;
}

@media screen and (max-width: 768px){
    main{
       flex-direction: column;
       
    }
        
    .conteneur{
        width: 100%;
    }
    .MaPhoto{
    	text-align: center;
        ;
    }
    .Parcours{
    	justify-content: center;
        
        border-top-style: none;
    }
    .contact{
        width: auto;
        justify-content: center;
    }
    .contact h1{
      width: 100%;
      
    }
    .contact p{
        text-align:center;
    }
    
    .Recommandations{
        flex-direction: column;
        text-align: center;
    }
    
    .immersio{
        text-align: center;
        margin: auto;
    }
    .titre h1{
        font-size: 3.2em;
        margin-bottom: 77px;
        text-align: center;
        margin-top: 43px;
    }
    .titre p{
        text-align: center;
    }
    .titre{
        justify-content: center;

    }
    
    .block1{
        margin-bottom: 34px;
        margin-top: -22px;
        flex-direction: column;
    }
    .point{
        justify-content: center;
    }
    
    .formation{
        justify-content: center;
        margin-bottom: -34px;
        margin-top: -20px;
    }
    .apropos p{
        margin-bottom: 25px;
       
    }
    
    .lign{
        margin: auto;
    }
    .formation1{
        margin-top: -13px;
        margin-left: -24px;
        text-align: center;
        
    }
    .formation2{
        
         margin-top: -13px;
        margin-left: -24px;
        text-align: center;;
    }
    .block3{
        flex-direction: column;
        text-align: center;
    }
    .points{
        justify-content: center;
    }
    .loisirs{
        position: relative;
        top: 1921px;
        background-color: #0EAD39;
        }
    
}

    
    
    

   
    
   



























